<h1><%= session[:username] %>'s Chorale: <%=@chorale.name%></h1>
<p>This here is your chorale, yo.</p>
 
<hr>

<div id="update">
  <p>Edit any text field and click "Save Edits"</p>
</div>

<h2 id="chorale-name" contenteditable="true"><%=@chorale.name%></h2>
<% @chorale.melodies.reverse_each do |melody| %>
  <p><b><%=melody.voice%></b></p>
  <p id="<%=melody.voice[0]%>_input" contenteditable="true"><%=melody.line%></p>
<% end %>

<input id="play" type="button" value="Play Music" style="width:10em;">

<form id="save" action="/update" method="POST">
  <input type="submit" value="Save Edits" />
</form>

<script language="JavaScript" type="text/javascript" src="/playback.js"></script>
<!--
<script>
var saveForm = document.getElementById("save");
var editElem = document.getElementById("chorale0");
saveForm.addEventListener('submit', function(){saveEdits();}, false);

function saveEdits() {
  var newContent = editElem.innerHTML;
  var newInput = document.createElement("input");
  newInput.setAttribute("type", "hidden");
  newInput.setAttribute("name", "chorale0");
  newInput.setAttribute("value", newContent);
  saveForm.appendChild(newInput);
}
</script>
-->
