<h1><%= session[:username] %>'s Compositions</h1>
<p>Review all of your beautiful works below</p>
 
<hr>

<div id="update">
  <p>Edit any text field and click "Save Edits"</p>
</div>

<% @user.chorales.each do |chorale| %>
  <a href="chorales/<%=chorale.id%>">
    <h2 id="chorale-<%=chorale.id%>"><%=chorale.name%></h2>
  </a><br>
<% end %>

<!--
=begin
<% @user.chorales.each_with_index do |chorale, i| %>
  <h2 id="chorale<%= i %>" contenteditable="true"><%= chorale.name %></h2>
  <% chorale.melodies.each do |melody| %>
    <h3><%= melody.voice %></h3>
    <p><% melody.notes.each do |note| %>
      <%= note.name %>:
    <% end %></p>
  <% end %>
<% end %>

<form id="save" action="/update" method="POST">
  <input type="submit" value="Save Edits" />
</form>

<script>
var saveForm = document.getElementById("save");
var editElem = document.getElementById("chorale0");
saveForm.addEventListener('submit', function(){saveEdits();}, false);

function saveEdits() {
  var newContent = editElem.innerHTML;
  var newInput = document.createElement("input");
  newInput.setAttribute("type", "hidden");
  newInput.setAttribute("name", "chorale0");
  newInput.setAttribute("value", newContent);
  saveForm.appendChild(newInput);
}
</script>

=end
-->
