<h1>Results from VoiceLeader</h1>

<table class="chords" border="1">
  <tr><th>Chord</th><th>Voices</th><th>Errors</th></tr>
  <% music.chords.each_with_index do |chord, i| %>
  <tr>
    <td>Chord #<%= i + 1 %><br><%= chord.get_name %>, <%= chord.chord_tones.map { |note| note.name } %></td>
    <td><ul>
    <% chord.notes.reverse.each do |note| %>
      <li><b><%= note.voice %>:</b> <%= note.part %></li>
    <% end %>
    </ul></td>
    <td><dl>
    <% chord.mistakes.each do |mistake| %>  
      <dt><%= mistake.type %></dt>
      <dd><%= mistake.value %></dd>
    <% end %>
    </dl></td>
  </tr>
<% end %>  
</table>
