<h1><%= session[:username] %>'s Compositions</h1>

<% scores.each do |score| %>
<div class="score-thumb">
  <a href="scores/<%= score.id %>">
    <h3><%= score.title %></h3>
  </a>
  <p><%= score.details %></p>
  <button id="<%= score.id %>" class="del-score">X</button>
</div>
<% end %>

<script src="/scripts/scores.js"></script>
